/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/sidebar/sidebar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar_container__98R6a {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/sidebar/menuLink/menuLink.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/dashboard.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_container__FPt6d {
  display: flex;
}

.dashboard_menu__kkWR1 {
  flex: 1 1;
  background-color: var(--bgSoft);
  padding: 20px;
}

.dashboard_content__sQime {
  flex: 4 1;
  padding: 20px;
}

