/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.card_container__iVqz_ {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}

.card_container__iVqz_:hover {
  background-color: #2e374a;
}

.card_texts___nHU6 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_number__4sjYn {
  font-size: 24px;
  font-weight: 500;
}

.card_detail__dyqNm {
  font-size: 14px;
  font-weight: 300;
}

.card_positive__cCgwz {
  color: lime;
}

.card_negative__KLipm {
  color: red;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/chart/chart.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.chart_container__JztY_ {
  height: 450px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.chart_title__xbaI9 {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/rightbar/rightbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.rightbar_container__euYye {
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/transactions/transactions.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.transactions_container__s2FuA {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.transactions_title__5ZmTi {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.transactions_table__qvfCq {
  width: 100%;
}

.transactions_table__qvfCq td {
  padding: 10px;
}

.transactions_user__l0sQw {
  display: flex;
  gap: 10px;
  align-items: center;
}

.transactions_userImage__W8yIA {
  object-fit: cover;
  border-radius: 50%;
}

.transactions_status__Sq4DS {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.transactions_pending__TmgWS {
  background-color: #f7cb7375;
}

.transactions_done__8nZ4z {
  background-color: #afd6ee75;
}

.transactions_cancelled__Bu9Qv {
  background-color: #f7737375;
}

